
:root {
    color: white;
    background-color: black;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* button {
    border: none;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
} */

h1 {
   font-size: 4.3vw; /* 90px/1200 */
}

h3 {
   font-size: 3.7vw; /* 90px/1200 */
}

.img-icon {
   width: 1.666666667vw;
   height: 1.666666667vw;
}

.img-svg {
   width: 3.645833333vw;
   height: 3.645833333vw;
}

.img-why-one {
   width: 80%;
   height: 80%;
}

.img-why-two {
   width: 100%;
   height: 100%;
}

.img-why-three {
   width: 65%;
   height: 65%;
}

.img-icon-two {
   width: 20px;
   height: 20px;
}

.img-one {
   min-width: 600px;
   width: 49.479166667vw;
   height: 64.814814815vh;
   display: flex;
   float: right;
   margin-left: 10.416666667vw;
   margin-top: 2.777777778vh;
}

.img-two {
   width: 100%;
   height: 100%;
   float: right;
   display: flex;
}

@media screen and (max-width: 576px) {
   .logo {
       width: 10px;
       height: 50px;
   }
   .navbar .menu-icon {
       margin-left: auto;
       margin-right: 10px;
   }
   .navbar svg {
       margin-left: 10px;
   }
   .img-one {
        display: none;
    }
    .name {
        font-size: 45px;
    }
    .img-two {
        display: none;
    }
    .img-svg {
        width: 18.645833333vw;
        height: 18.645833333vw;
    }
    .info-container h1 {
        color: red;
        font-size: 5.083333333vw;
        font-family: 'Roboto', sans-serif;
    }
    .info-container p {
        margin-top: 0.925925926vh;
        margin-left: 3.125vw;
        color: white;
        font-size: 3.78125vw;
        font-family: 'Roboto', sans-serif;
     }
}

.logo {
   margin-left: 3.125vw;
   width: 200px;
   height: 50;
}

.navbar {
   margin-top: 4vh;
   text-align: center;
   display: flex;
}

.navbar .menu-icon {
    margin-left: auto; 
    margin-right: 60px;
}

.navbar svg {
    margin-left: 20px;
    cursor: pointer;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #000000;
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	margin-bottom: 20px;
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: rgb(255, 255, 255);
	font-family: 'Poppins', sans-serif;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #6b6767;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}

	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

.greet {
   margin-top: 5.555555556vh;
   justify-content: center;
   color: white;
   font-size: 45px;
   font-family: 'Roboto', sans-serif;
}

.section-one {
   margin-top: 7.407407407vh;
   display: flex;
}

.greet h1 {
   color: white;
   margin-left: 3.125vw;
   font-family: 'Pacifico', cursive;
}

.img-greet {
   float: right;
   margin-left: 5.208333333vw;
}

.des-p {
   font-size: 15px;
   margin-left: 4.166666667vw;
}

.icons {
   margin-top: 4.62962963vh;
   margin-left: 3.125vw;
}

.icons img {
   margin: 1.041666667vw;
}

.info-container {
   margin-top: 9.259259259vh;
   display: flex;
}

.info-container h1 {
   color: white;
   font-size: 2.083333333vw;
   font-family: 'Roboto', sans-serif;
}

.info-container p {
   margin-top: 0.925925926vh;
   margin-left: 3.125vw;
   color: white;
   font-size: 0.78125vw;
   font-family: 'Roboto', sans-serif;
}

.info-cards {
    margin-top: 200px;
}

.info-card {
   margin-top: 9.259259259vh;
   margin-left: 4.166666667vw;
}

.info-card, .info-card-img {
   display: flex;
}

.why-hr {
   height: 100px;
   width: 1px;
}

.second-img {
   float: right;
}

.section-three {
   margin-top: 9.259259259vh;
   margin: auto;
   width: 85%;
   padding: 10px;
}

.section-three h1 {
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

.section-three h3 {
   margin-top: 0.925925926vh;
   margin-left: 1.041666667vw;
   color: white;
   font-size: 0.9375vw;
   font-family: 'Roboto', sans-serif;
}

.section-three svg {
   margin-left: 4.6875vw;
}

.lead-reason {
   margin-top: 2.777777778vh;
   display: flex;
}

.section-four {
   margin-top: 9.259259259vh;
   margin: auto;
   width: 65%;
   padding: 10px;
}

.section-four h1 {
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

.section-four h3 {
   margin-top: 0.925925926vh;
   margin-left: 1.041666667vw;
   color: white;
   font-size: 0.9375vw;
   font-family: 'Roboto', sans-serif;
}

.section-four svg {
   margin-left: 4.6875vw;
}

.lead-reason-two {
   margin-top: 2.777777778vh;
   display: flex;
}

.section-five {
   margin-top: 9.259259259vh;
   margin: auto;
   width: 50%;
   padding: 10px;
}

.section-five h1 {
   text-align: center;
   font-family: 'Roboto', sans-serif;
}

.help-container {
   display: flex;
}

.help-section {
   margin-top: 9.259259259vh;
}

.help-section p {
   margin-top: 2.777777778vh;
   font-size: 0.78125vw;
}

.container {
   max-width: 1170px;
   margin:auto;
}

.row {
   display: flex;
   flex-wrap: wrap;
}

ul {
   list-style: none;
}

li {
   text-align: justify;
}

.footer {
    margin-top: 14.407407407vh;
   background-color: #000000;
   padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
   font-size: 18px;
   color: #ffffff;
   text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 500;
   position: relative;
} 

.footer-col ul li:not(:last-child) {
   margin-bottom: 10px;
}

.footer-col ul li a {
   font-size: 16px;
   text-transform: capitalize;
   color: #ffffff;
   text-decoration: none;
   font-weight: 300;
   color: #bbbbbb;
   display: block;
   transition: all 0.3s ease;
}

.footer-col ul li a:hover {
   color: #ffffff;
   padding-left: 8px;
}

.footer-col .social-links a {
   display: inline-block;
   height: 40px;
   width: 40px;
   margin:0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color: #ffffff;
   transition: all 0.5s ease;
}

@media(max-width: 767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col{
        width: 100%;
    }
}

.banner {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.banner .stock-limit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
    background-color: #010101;
    width: 400px;
    height: 180px;
    flex-direction: column;
    display: none;
}
.banner .stock-limit em {
    position: absolute;
    width: 80%;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    line-height: 1.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}
.banner .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    display: none;
}
.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: white;
    overflow: hidden;
    -webkit-animation: animation 20s linear infinite;
    animation: animate 20s linear infinite;
    bottom: -120px;
}
.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}
.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    -webkit-animation-delay: 5.5s;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
}
.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
}

.fa-shopping-cart {
    position: absolute;
    right: 2rem;
    top: 1.2rem;
    color: black;
}
.fa-shopping-cart:hover {
    color: white;
}
.total-qty {
    position: absolute;
    height: 1rem;
    width: 1rem;
    background: white;
    color: black;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    line-height: 1rem;
    font-weight: 600;
    top: 1rem;
    right: 1.5rem;
    user-select: none;
}
.main-cart {
    position: absolute;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    align-self: center;
    -webkit-box-align: center;
    align-items: center;
}
.card {
    position: relative;
    flex-shrink: 0;
    height: 300px;
    width: 200px;
    background-color: #010101;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 7px 5px -5px #4d4b4b;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.card .img-container {
    position: absolute;
    height: 185px;
    width: 185px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(35px);
}
.card .img-container img {
    width: 100%;
    align-self: center;
}
.card .img-container .out-of-stock-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    display: none;
}
.card .img-container .out-of-stock-cover span {
    font-weight: 900;
    color: rgba(255, 200, 200, 0.75);
    font-size: 1.5rem;
}
.top-bar {
    transform: translateY(0.5rem);
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
}
.top-bar .fa-apple {
    font-size: 1.5rem;
}
.top-bar .stocks {
    font-size: 0.8rem;
    color: lightgreen;
}
.card .details {
    position: absolute;
    height: 220px;
    width: 100%;
    background-color: #2e2f33;
    border-radius: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 20px;
    bottom: -165px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
.card .details .name-fav {
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.card .details .name-fav strong {
    font-weight: 600;
}
.fav {
    color: red;
}
.card .details .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    display: none;
}
.details .wrapper p {
    font-size: 0.9rem;
    padding: 5px 0;
    font-weight: light;
}
.card .details .purchase {
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.card .details .purchase p {
    font-weight: 500;
}
.details .purchase .add-btn {
    border-radius: 20px;
    border: 1px solid white;
    background: none;
    color: white;
    padding: 6px 10px;
}
.details .purchase .add-btn:hover {
    background: white;
    color: black;
}
.main-cart .card:hover {
    height: 450px;
    width: 260px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.main-cart .card:hover .details {
    bottom: 0;
}
.main-cart .card:hover .wrapper {
    display: block;
}
.side-nav {
    position: absolute;
    background: #010101;
    opacity: 0.95;
    height: 100%;
    width: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    top: 0;
    right: -100%;
    z-index: 10;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.side-nav .fa-times {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1.5rem;
}
.side-nav h2 {
    align-self: center;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    font-size: 2rem;
    font-weight: 600;
}
.side-nav .cart-items {
    position: absolute;
    width: 90%;
    margin: 0 5%;
    height: 50%;
    top: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.side-nav .cart-items .empty-cart {
    margin: auto 0;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
}
.side-nav .cart-items .cart-item {
    height: 5rem;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid whitesmoke;
}
.side-nav .cart-items .cart-item:hover {
    background: rgba(255, 255, 255, 0.25);
}
.side-nav .cart-items .cart-item .cart-img {
    width: 5rem;
    height: 5rem;
    justify-content: center;
}
.side-nav .cart-items .cart-item .cart-img img {
    width: 100%;
    align-self: center;
}
.side-nav .final {
    position: absolute;
    align-self: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    bottom: 10%;
}
.side-nav .final strong {
    align-self: flex-end;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 1rem;
}
.side-nav .final .action {
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
}
.side-nav .final .action .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: 1px solid white;
    margin-right: 20px;
    border-radius: 10px;
}
.side-nav .final .action .btn:hover {
    color: black;
    box-shadow: inset 20em 0 0 0 white;
}
.qty-change {
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: baseline;
    align-items: baseline;
}
.btn-qty {
    border: 1px solid white;
    border-radius: 50%;
    padding: 2px 5px;
}
.btn-qty:hover {
    background: white;
    color: black;
}
.qty {
    padding: 2px 5px;
}
.invoice {
    position: absolute;
    height: 90%;
    width: 90%;
    background: rgba(0, 0, 0, 0.95);
    padding: 5% 4%;
    margin: 0 auto;
    left: 0;
    right: 0;
    align-self: center;
    flex-direction: column;
    border-radius: 20px;
    transition: 0.25s;
}
.invoice .shipping-items {
    padding: 10px 0;
    width: 100%;
    justify-content: space-between;
}
.invoice .shipping-items .item-names, .invoice .shipping-items .items-price {
    flex-direction: column;
    justify-content: space-around;
}
.invoice .payment {
    flex-direction: column;
}
.invoice .payment em, .invoice .payment div {
    margin-top: 10px;
    font-weight: 600;
    justify-content: space-between;
}
.invoice .order {
    position: absolute;
    bottom: 10%;
    width: 40%;
    justify-content: space-around;
}
.invoice .order .btn {
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
}
.invoice .order .btn-order {
    background: #00bbf9;
}
.invoice .order .btn-cancel {
    background: #bb342f;
}
.invoice .order-details {
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
}
.invoice .order-details em, .invoice .order-details p {
    border-bottom: 1px dashed white;
    padding-bottom: 10px;
}
.invoice .order-details em {
    font-size: 1.2rem;
    font-weight: 600;
}
.invoice .order-details .thanks {
    position: absolute;
    text-align: center;
    margin: auto;
    border: none;
    left: 0;
    right: 0;
    bottom: 55%;
}
.invoice .order-details p {
    font-size: 1.1rem;
}
.invoice .order-details p span {
    font-weight: 600;
}
.btn-ok {
    position: absolute;
    width: 80%;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: auto;
    bottom: 10%;
    left: 0;
    right: 0;
    background: #5bc0be;
}
@media (max-width: 768px) {
    .side-nav {
        width: 80%;
   }
    .invoice .order {
        width: 60%;
   }
    .main-cart {
        overflow: scroll;
   }
}
@media (max-width: 576px) {
    .side-nav {
        width: 100%;
   }
    .side-nav .cart-img {
        display: none;
   }
    .invoice .order {
        width: 80%;
   }
    .nav {
        width: 576px;
        height: 4rem;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        filter: invert(1);
   }
    .main-cart {
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 95%;
        top: 4rem;
   }
    .main-cart .card {
        margin: 20px auto;
   }
}


.introduction {
	margin-top: 22.407407407vh;
    margin-bottom: 14.407407407vh;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.introduction p {
	margin-top: 2.407407407vh;
    font-size: 15px;
}

.div-credentials-two {
	color: rgb(255, 255, 255);
	background: #000000;
	width: 100%;
	padding: 0;
	justify-content: center;
	display: flex;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}


.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 62.5vw;
	flex-wrap: wrap;
	z-index: 1;
}

.container .why-card {
	position: relative;
	width: 280px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}

.container .why-card .content {
	padding: 20px;
	text-align: center;
	transform: translateY(100px);
	opacity: 0;
	transition: 0.5s;
}

.container .why-card:hover .content {
	padding: 20px;
	text-align: center;
	transform: translateY(0px);
	opacity: 1;
	transition: 0.5s;
}

.container .why-card .content h2 {
	position: absolute;
	top: -80px;
	right: 30px;
	font-size: 8em;
	color: rgba(255, 255, 255, 0.247);
	pointer-events: none;
}

.container .why-card .content h3 {
	font-size: 1.8em;
	color: rgb(255, 255, 255);
	z-index: 1;
}

.container .why-card .content p {
	font-size: 1em;
	color: rgb(255, 255, 255);
	font-weight: 300;
}

.container .why-card .content a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


@media screen and (max-width: 576px) {
    .info-container {
        margin-top: 0;
        display: flex;
    }
    .info-container h1 {
        color: white;
        font-size: 5.083333333vw;
        font-family: 'Roboto', sans-serif;
     }
     .info-container p {
        margin-top: 0.925925926vh;
        margin-left: 3.125vw;
        color: white;
        font-size: 2.78125vw;
        font-family: 'Roboto', sans-serif;
    }
    .des-p {
        font-size: 13px;
    }
    .img-icon {
        width: 5.666666667vw;
        height: 5.666666667vw;
    }
    .img-three {
        display: none;
    }
    .img-four {
        display: none;
    }
    .img-five {
        display: none;
    }
    .section-three {
        margin-top: 9.259259259vh;
    }
    .section-four {
        margin-top: 0;
    }
    .section-three h1 {
        margin-left: 3.041666667vw;
        font-size: 5.5vw;
    }
    .section-three h3 {
        margin-left: 3.041666667vw;
        font-size: 3.5vw;
    }
    .section-four h1 {
        margin-left: 3.041666667vw;
        font-size: 5.5vw;
    }
    .section-four h3 {
        margin-left: 3.041666667vw;
        font-size: 3.5vw;
    }
    .section-five h1, h3 {
        font-size: 5.5vw;
    }
    .section-five p {
        font-size: 3.5vw;
    }
    .info-cards {
        margin-top: 100px;
    }
    .introduction {
        margin-top: 14.407407407vh;
        margin-right: 30px;
        margin-left: 30px;
        word-wrap: break-word;
    }
    .introduction h1 {
        font-size: 5.5vw;
    }
    .introduction p {
        margin-top: 2.407407407vh;
        font-size: 2.5vw;
    }
    .word-br {
        display: none;
    }
    .container {
	    max-width: 92.5vw;
    }

}

.popup {
    width: 300px;
    height: 400px;
    position: fixed;
    padding: 30px 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 49.739583333vw;
    z-index: 2;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000 ease-in-out, transform 1000ms ease-in-out;
}

.popup.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup .icon i.fa {
    font-size: 30px;
    color: #34f234;
    margin-top: -9px;
}

.popup .title {
    margin: 5px 0;
    font-size: 30px;
    font-weight: 600;
}

.popup .description {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5px;
}

.popup .dismiss-btn {
    margin-top: 15px;
}

.popup .dismiss-btn button {
    padding: 10px 20px;
    background: #111;
    color: #FFF;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup .dismiss-btn button:hover {
    color: #111;
    background: #f5f5f5;
}

.popup > div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup.active > div {
    top: 0px;
    opacity: 1;
}

.popup.active .icon {
    transition: all 300ms ease-in-out 250ms;
}

.popup.active .title {
    transition: all 300ms ease-in-out 300ms;
}

.popup.active .description {
    transition: all 300ms ease-in-out 350ms;
}

.popup.active .dismiss-btn {
    transition: all 300ms ease-in-out 400ms;
}



.popup-2 {
    width: 300px;
    height: 400px;
    position: fixed;
    padding: 30px 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 49.739583333vw;
    z-index: 2;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000 ease-in-out, transform 1000ms ease-in-out;
}

.popup-2.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}


.popup-2 .title {
    margin: 5px 0;
    font-size: 30px;
    font-weight: 600;
}

.popup-2 .description {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5px;
}

.popup-2 .dismiss-btn-2 {
    margin-top: 15px;
}

.popup-2 .dismiss-btn-2 button {
    padding: 10px 20px;
    background: #111;
    color: #FFF;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup-2 .dismiss-btn-2 button:hover {
    color: #111;
    background: #f5f5f5;
}

.popup-2 > div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup-2.active > div {
    top: 0px;
    opacity: 1;
}

.popup-2.active .icon {
    transition: all 300ms ease-in-out 250ms;
}

.popup-2.active .title {
    transition: all 300ms ease-in-out 300ms;
}

.popup-2.active .description {
    transition: all 300ms ease-in-out 350ms;
}

.popup-2.active .dismiss-btn-2 {
    transition: all 300ms ease-in-out 400ms;
}



.popup-3 {
    width: 300px;
    height: 400px;
    position: fixed;
    padding: 30px 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 49.739583333vw;
    z-index: 2;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000 ease-in-out, transform 1000ms ease-in-out;
}

.popup-3.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup-3 .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup-3 .icon i.fa {
    font-size: 30px;
    color: #34f234;
    margin-top: -9px;
}

.popup-3 .title {
    margin: 5px 0;
    font-size: 30px;
    font-weight: 600;
}

.popup-3 .description {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5px;
}

.popup-3 .dismiss-btn-3 {
    margin-top: 15px;
}

.popup-3 .dismiss-btn-3 button {
    padding: 10px 20px;
    background: #111;
    color: #FFF;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup-3 .dismiss-btn-3 button:hover {
    color: #111;
    background: #f5f5f5;
}

.popup-3 > div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup-3.active > div {
    top: 0px;
    opacity: 1;
}

.popup-3.active .icon {
    transition: all 300ms ease-in-out 250ms;
}

.popup-3.active .title {
    transition: all 300ms ease-in-out 300ms;
}

.popup-3.active .description {
    transition: all 300ms ease-in-out 350ms;
}

.popup-3.active .dismiss-btn-3 {
    transition: all 300ms ease-in-out 400ms;
}




.popup-4 {
    width: 300px;
    height: 400px;
    position: fixed;
    padding: 30px 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 49.739583333vw;
    z-index: 2;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000 ease-in-out, transform 1000ms ease-in-out;
}

.popup-4.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup-4 .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup-4 .icon i.fa {
    font-size: 30px;
    color: #34f234;
    margin-top: -9px;
}

.popup-4 .title {
    margin: 5px 0;
    font-size: 30px;
    font-weight: 600;
}

.popup-4 .description {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5px;
}

.popup-4 .dismiss-btn-4 {
    margin-top: 15px;
}

.popup-4 .dismiss-btn-4 button {
    padding: 10px 20px;
    background: #111;
    color: #FFF;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup-4 .dismiss-btn-4 button:hover {
    color: #111;
    background: #f5f5f5;
}

.popup-4 > div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup-4.active > div {
    top: 0px;
    opacity: 1;
}

.popup-4.active .icon {
    transition: all 300ms ease-in-out 250ms;
}

.popup-4.active .title {
    transition: all 300ms ease-in-out 300ms;
}

.popup-4.active .description {
    transition: all 300ms ease-in-out 350ms;
}

.popup-4.active .dismiss-btn-4 {
    transition: all 300ms ease-in-out 400ms;
}





.popup-5 {
    width: 300px;
    height: 400px;
    position: fixed;
    padding: 30px 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 49.739583333vw;
    z-index: 2;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000 ease-in-out, transform 1000ms ease-in-out;
}

.popup-5.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup-5 .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup-5 .icon i.fa {
    font-size: 30px;
    color: #34f234;
    margin-top: -9px;
}

.popup-5 .title {
    margin: 5px 0;
    font-size: 30px;
    font-weight: 600;
}

.popup-5 .description {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5px;
}

.popup-5 .dismiss-btn-5 {
    margin-top: 15px;
}

.popup-5 .dismiss-btn-5 button {
    padding: 10px 20px;
    background: #111;
    color: #FFF;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup-5 .dismiss-btn-5 button:hover {
    color: #111;
    background: #f5f5f5;
}

.popup-5 > div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup-5.active > div {
    top: 0px;
    opacity: 1;
}

.popup-5.active .icon {
    transition: all 300ms ease-in-out 250ms;
}

.popup-5.active .title {
    transition: all 300ms ease-in-out 300ms;
}

.popup-5.active .description {
    transition: all 300ms ease-in-out 350ms;
}

.popup-5.active .dismiss-btn-5 {
    transition: all 300ms ease-in-out 400ms;
}






.popup-6 {
    width: 300px;
    height: 400px;
    position: fixed;
    padding: 30px 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 49.739583333vw;
    z-index: 2;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000 ease-in-out, transform 1000ms ease-in-out;
}

.popup-6.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup-6 .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup-6 .icon i.fa {
    font-size: 30px;
    color: #34f234;
    margin-top: -9px;
}

.popup-6 .title {
    margin: 5px 0;
    font-size: 30px;
    font-weight: 600;
}

.popup-6 .description {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5px;
}

.popup-6 .dismiss-btn-6 {
    margin-top: 15px;
}

.popup-6 .dismiss-btn-6 button {
    padding: 10px 20px;
    background: #111;
    color: #FFF;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup-6 .dismiss-btn-6 button:hover {
    color: #111;
    background: #f5f5f5;
}

.popup-6 > div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup-6.active > div {
    top: 0px;
    opacity: 1;
}

.popup-6.active .icon {
    transition: all 300ms ease-in-out 250ms;
}

.popup-6.active .title {
    transition: all 300ms ease-in-out 300ms;
}

.popup-6.active .description {
    transition: all 300ms ease-in-out 350ms;
}

.popup-6.active .dismiss-btn-6 {
    transition: all 300ms ease-in-out 400ms;
}




.popup-7 {
    width: 300px;
    height: 400px;
    position: fixed;
    padding: 30px 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 49.739583333vw;
    z-index: 2;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000 ease-in-out, transform 1000ms ease-in-out;
}

.popup-7.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup-7 .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup-7 .icon i.fa {
    font-size: 30px;
    color: #34f234;
    margin-top: -9px;
}

.popup-7 .title {
    margin: 5px 0;
    font-size: 30px;
    font-weight: 600;
}

.popup-7 .description {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5px;
}

.popup-7 .dismiss-btn-7 {
    margin-top: 15px;
}

.popup-7 .dismiss-btn-7 button {
    padding: 10px 20px;
    background: #111;
    color: #FFF;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup-7 .dismiss-btn-7 button:hover {
    color: #111;
    background: #f5f5f5;
}

.popup-7 > div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup-7.active > div {
    top: 0px;
    opacity: 1;
}

.popup-7.active .icon {
    transition: all 300ms ease-in-out 250ms;
}

.popup-7.active .title {
    transition: all 300ms ease-in-out 300ms;
}

.popup-7.active .description {
    transition: all 300ms ease-in-out 350ms;
}

.popup-7.active .dismiss-btn-7 {
    transition: all 300ms ease-in-out 400ms;
}




.popup-8 {
    width: 300px;
    height: 400px;
    position: fixed;
    padding: 30px 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 49.739583333vw;
    z-index: 2;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000 ease-in-out, transform 1000ms ease-in-out;
}

.popup-8.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup-8 .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup-8 .icon i.fa {
    font-size: 30px;
    color: #34f234;
    margin-top: -9px;
}

.popup-8 .title {
    margin: 5px 0;
    font-size: 30px;
    font-weight: 600;
}

.popup-8 .description {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5px;
}

.popup-8 .dismiss-btn-8 {
    margin-top: 15px;
}

.popup-8 .dismiss-btn-8 button {
    padding: 10px 20px;
    background: #111;
    color: #FFF;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup-8 .dismiss-btn-8 button:hover {
    color: #111;
    background: #f5f5f5;
}

.popup-8 > div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup-8.active > div {
    top: 0px;
    opacity: 1;
}

.popup-8.active .icon {
    transition: all 300ms ease-in-out 250ms;
}

.popup-8.active .title {
    transition: all 300ms ease-in-out 300ms;
}

.popup-8.active .description {
    transition: all 300ms ease-in-out 350ms;
}

.popup-8.active .dismiss-btn-8 {
    transition: all 300ms ease-in-out 400ms;
}


.popup-9 {
    width: 300px;
    height: 400px;
    position: fixed;
    padding: 30px 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 49.739583333vw;
    z-index: 2;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000 ease-in-out, transform 1000ms ease-in-out;
}

.popup-9.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup-9 .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup-9 .icon i.fa {
    font-size: 30px;
    color: #34f234;
    margin-top: -9px;
}

.popup-9 .title {
    margin: 5px 0;
    font-size: 30px;
    font-weight: 600;
}

.popup-9 .description {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5px;
}

.popup-9 .dismiss-btn-9 {
    margin-top: 15px;
}

.popup-9 .dismiss-btn-9 button {
    padding: 10px 20px;
    background: #111;
    color: #FFF;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup-9 .dismiss-btn-9 button:hover {
    color: #111;
    background: #f5f5f5;
}

.popup-9 > div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup-9.active > div {
    top: 0px;
    opacity: 1;
}

.popup-9.active .icon {
    transition: all 300ms ease-in-out 250ms;
}

.popup-9.active .title {
    transition: all 300ms ease-in-out 300ms;
}

.popup-9.active .description {
    transition: all 300ms ease-in-out 350ms;
}

.popup-9.active .dismiss-btn-9 {
    transition: all 300ms ease-in-out 400ms;
}